header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  color: white;
  background-color: black;
  box-shadow: 0rem 0.1rem 0.6rem 0.3rem rgba(0, 0, 0, 0.521);
  margin-bottom: 3rem;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 4rem;
}

.logo-container p {
  font-size: 2rem;
  margin-left: 0.5rem;
  text-align: center;
}

.searchbar {
  position: relative;
}

.searchbar img {
  height: 3rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.searchbar input {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  padding-left: 4rem;
  font-size: 2rem;
  border: none;
}

.searchbar input:focus {
  outline: none;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    margin-bottom: 1rem;
  }

  .searchbar {
    width: 100%;
  }

  .searchbar input {
    font-size: 1.5rem;
  }
}
